---
layout: base
---
.blog
  %section.main-banner
    .container
      %h1 Blog
      %p Updates, discussions and more for LiveOak.
  %section.blog
    .container
      .row
        .col-md-8.col-md-offset-2
          - posts = page.posts * 1
          - leader = posts.shift
          .panel
            .blog-post
              %h1
                %a{:href=>leader.url}
                  = leader.title
              .author
                = leader.author
              .date
                = leader.date.strftime("%F")
              .body
                %p= leader.content
    
          .large-4.columns.blog-post-listings
            %h3 Previous Posts
            - for post in posts
              .blog-post-listing
                .date.right
                  =post.date.strftime("%F")
                .title
                  %a{:href=>post.url}
                    =post.title
