---
layout: base
---

.row
  .large-4.columns.header-box
    %h1 LiveOak
    %h1.subheader The Blog
  .large-8.columns.right
    - posts = page.posts * 1
    - leader = posts.shift
    .panel
      .blog-post
        .title
          %h2
            %a{:href=>leader.url} 
              = leader.title
        .author
          = leader.author
        .date
          = leader.date.strftime("%F")
        .body
          %p= leader.content

  .large-4.columns.blog-post-listings
    %h3 Previous Posts 
    - for post in posts
      .blog-post-listing
        .date.right
          =post.date.strftime("%F")
        .title
          %a{:href=>post.url}
            =post.title


