---
layout: base
---
.row
  .large-4.columns.header-box
    %h1 LiveOak
    %h1.subheader Community
  .large-8.columns.right
    .panel
      %h3 Development
      %p
        LiveOak is an open source project. We love contributors.
        If you'd like to be a part of the project, all it takes 
        to get started is checking out the code from:
        %pre
          %code
            %a{:href=>'https://github.com/liveoak-io/liveoak'} https://github.com/liveoak-io/liveoak.git

      %p
        This website itself is also a community effort,
        which can be improved using Awestruct.  You can
        checkout the entire website:
        %pre
          %code
            %a{:href=>'https://github.com/liveoak-io/liveoak.io'} https://github.com/liveoak-io/liveoak.io.git
    .panel
      %h3 Issue-Tracking

      %h4 JIRA
      %p
        Our canonical issue-tracker is JIRA at JBoss.  Schedules,
        releases and such are maintained there.  

      %blockquote
        %a{:href=>'https://issues.jboss.org/browse/LIVEOAK'} LiveOak JIRA
       

      %h4 GitHub Issues
      %p
        To encourage a wider audience reporting issues, we also
        ingest from GitHub Issues.  GitHub issues is <b>not</b>
        out canonical source for tracking progress of the project,
        but it is scanned routinely and issues are migrated to JIRA
        as needed.

      %blockquote
        %a{:href=>'https://github.com/liveoak-io/liveoak/issues'} GitHub Issues
    
      

    .panel
      %h3 User Forum
      %p
        For any questions or issues on using LiveOak, please raise them
        here:
      %blockquote
        %a{:href=>'https://community.jboss.org/en/liveoak'} User Forum


    .panel
      %h3 IRC
      %p
        The development team routinely hangs out in
        the <code>#liveoak</code> channel on 
        <code>irc.freenode.net</code>


    .panel
      %h3 Mailing Lists

      %h4 Developer List
      %p
        The Developer list is where the developers (and contributors)
        to LiveOak discuss features, functionality, design and architecture.

      %h5 Subscribe
      %p
        To subscribe directly to the LiveOak Developer mailing list,
        send an empty message to:
 
        %blockquote
          %a{:href=>'mailto:dev-subscribe@liveoak.io'} dev-subscribe@liveoak.io

      %h5 Unsubscribe
      %p
        To unsubscribe from the LiveOak Developer mailing list,
        send an empty message to:
 
        %blockquote
          %a{:href=>'mailto:dev-unsubscribe@liveoak.io'} dev-unsubscribe@liveoak.io

      %h4 Issues List

      %p
        The Issues list is where our issues-tracker sends notifications about
        activities around issues.

      %h5 Subscribe
      %p
        To subscribe directly to the LiveOak Issues mailing list,
        send an empty message to:

        %blockquote
          %a{:href=>'mailto:issues-subscribe@liveoak.io'} issues-subscribe@liveoak.io

      %h5 Unsubscribe
      %p
        To unsubscribe from the LiveOak Issues mailing list,
        send an empty message to:

        %blockquote
          %a{:href=>'mailto:issues-unsubscribe@liveoak.io'} issues-unsubscribe@liveoak.io
        
      %h4 List Archives
      %p
        List archives can be found at Nabble, which also provides
        an alternative way of reading, posting, and subscribing to 
        our lists.

        %blockquote
          %a{:href=>'http://mail-archive.liveoak.io/'} LiveOak List Archives
          

