---
layout: base
---
.row
  .large-4.columns.header-box
    %h1 LiveOak
    %h1.subheader Downloads
  .large-8.columns.right
    .panel
      %p
        %h3 1.0.0.Alpha02 - 29 August 2014
        %ul
          %li
            %a{:id=>"1.0.0.Alpha02.zip", :href=>"http://repository.liveoak.io/io/liveoak/liveoak-dist/1.0.0.Alpha02/liveoak-dist-1.0.0.Alpha02.zip"}Binary .zip archive
          %li
            %a{:id=>"1.0.0.Alpha02.tar.gz", :href=>"http://repository.liveoak.io/io/liveoak/liveoak-dist/1.0.0.Alpha02/liveoak-dist-1.0.0.Alpha02.tar.gz"}Binary tar.gz archive
          %li
            %a{:id=>"1.0.0.Alpha02-src", :href=>"http://repository.liveoak.io/io/liveoak/liveoak-dist/1.0.0.Alpha02/liveoak-dist-1.0.0.Alpha02-src.zip"}Source .zip archive
          %li
            %a{:id=>"1.0.0.Alpha02-examples", :href=>"https://github.com/liveoak-io/liveoak-examples/archive/1.0.0.Alpha02.zip"}Examples - binary .zip archive
          %li
            %a{:href=>"https://github.com/liveoak-io/liveoak/tree/1.0.0.Alpha02"}Tagged on GitHub
          %li
            %a{:href=>"https://github.com/liveoak-io/liveoak-examples/tree/1.0.0.Alpha02"}Examples tagged on GitHub


      %p
        %h3 1.0.0.Alpha01 - 28 May 2014
        %ul
          %li
            %a{:id=>"1.0.0.Alpha01.zip", :href=>"http://repository.liveoak.io/io/liveoak/liveoak-dist/1.0.0.Alpha01/liveoak-dist-1.0.0.Alpha01.zip"}Binary .zip archive
          %li
            %a{:id=>"1.0.0.Alpha01.tar.gz", :href=>"http://repository.liveoak.io/io/liveoak/liveoak-dist/1.0.0.Alpha01/liveoak-dist-1.0.0.Alpha01.tar.gz"}Binary tar.gz archive
          %li
            %a{:id=>"1.0.0.Alpha01-src", :href=>"http://repository.liveoak.io/io/liveoak/liveoak-dist/1.0.0.Alpha01/liveoak-dist-1.0.0.Alpha01-src.zip"}Source .zip archive
          %li
            %a{:id=>"1.0.0.Alpha01-examples", :href=>"https://github.com/liveoak-io/liveoak-examples/archive/1.0.0.Alpha01.zip"}Examples - binary .zip archive
          %li
            %a{:href=>"https://github.com/liveoak-io/liveoak/tree/1.0.0.Alpha01"}Tagged on GitHub
          %li
            %a{:href=>"https://github.com/liveoak-io/liveoak-examples/tree/1.0.0.Alpha01"}Examples tagged on GitHub



      %p
        LiveOak distribution bundles other project binaries.
        %ul
          %li
            %i
              %a{:href=>'http://wildfly.org/'} WildFly
              project sources can be found in
              %a{:href=>'https://github.com/wildfly/wildfly'} this location
          %li
            %i
              %a{:href=>'http://keycloak.org/'} Keycloak
              project sources can be found in
              %a{:href=>'https://github.com/keycloak/keycloak'} this location
