---
layout: base
---
.row
  .large-4.columns.header-box
    %h1 LiveOak
    %h1.subheader Downloads
  .large-8.columns.right
    .panel
      %p
        %h3 1.0.0.Alpha01 20150523 - Pre release time stamp build
        %ul
          %li
            %a{:href=>"http://www.redhat.com/j/elqNow/elqRedir.htm?ref=http://repository.liveoak.io/io/liveoak/liveoak-dist/1.0.0.Alpha01/liveoak-dist-1.0.0.Alpha01.zip"}Binary .zip archive
          %li
            %a{:href=>"http://www.redhat.com/j/elqNow/elqRedir.htm?ref=http://repository.liveoak.io/io/liveoak/liveoak-dist/1.0.0.Alpha01/liveoak-dist-1.0.0.Alpha01.tar.gz"}Binary tar.gz archive
          %li
            %a{:href=>"http://www.redhat.com/j/elqNow/elqRedir.htm?ref=http://repository.liveoak.io/io/liveoak/liveoak-dist/1.0.0.Alpha01/liveoak-dist-1.0.0.Alpha01-src.zip"}Source .zip archive
          %li
            %a{:href=>"https://github.com/liveoak-io/liveoak/tree/1.0.0.Alpha01"}Tagged on GitHub

      %p
        LiveOak distribution bundles other project binaries.
        %ul
          %li
            %a{:href=>'http://wildfly.org/'} WildFly
            project sources can be found in
            %a{:href=>'https://github.com/wildfly/wildfly'} this location
          %li
            %a{:href=>'http://keycloak.org/'} KeyCloak
            project sources can be found in
            %a{:href=>'https://github.com/keycloak/keycloak'} this location





     

