---
layout: base
---
.row
  .large-12.columns
    %h1 Backend-as-a-Service
    %hr

.row
  .large-12.columns
    .panel
      %h3 Get started
      %p This site is all setup to use Foundation 4 with Awestruct.
      %a.button{:href=>'http://foundation.zurb.com'} Check out Foundation 4
      %a.button.secondary{:href=>'http://awestruct.org'} Check out Awestruct

.row
  .large-4.columns
    %h3 About 
    %p 
      #{site.name} is a backend-as-a-service stack which aims to simplify 
      complex client development, whether the client is mobile or not.
    %p
      %a.button{:href=>'http://awestruct.org'} View details &raquo; 

  .large-4.columns
    %h3 Goal
    %p 
      The goal of #{site.name} is to enable access to traditional services
      without having to write server-side code.
    %p
      %a.button{:href=>'http://awestruct.org'} View details &raquo; 

  .large-4.columns
    %h3 Concept
    %p
      The core concept of #{site.name} is that services can be provided
      through REST and push interfaces to clients on mobile handsets,
      desktop computers, or other servers.
    %p
      %a.button{:href=>'http://awestruct.org'} View details &raquo; 
