---
layout: base
---
.row
  .large-4.columns{:style=>'background:url("/images/tree.png") right center no-repeat'}
    %h1 LiveOak
    %h1.subheader Backend as a Service
  .large-8.columns.right
    .panel
      %p 
        LiveOak is a backend-as-a-service stack that simplifies
        development for mobile and standard web clients. Its goal
        is to enable client-side access to traditional backend
        services without having to write server-side code.
      %p
        LiveOak's fundamental architectural approach is REST to
        the core. LiveOak provides publish/subscribe,
        push-to-the-mobile-client, and REST-based APIs to shuffle data between
        mobile handsets, traditional desktops, and other servers in a local
        cluster or in the cloud.

.row
  .large-4.columns
    %h3 Services
    %p
      LiveOak is a set of backend enterprise services, soon to include user
      management, data storage, blob storage, real-time push, push
      notifications via APNS/GCM, and analytics.
    %p
      %a.button{:href=>'/services'} View details &raquo; 

  .large-4.columns
    %h3 Languages
    %p 
      LiveOak applications are targeted to the JVM on the server side
      and applications can be written in multiple languages, including
      Java, JavaScript, Objective-C, and Android Java.
    %p
      %a.button{:href=>'/languages'} View details &raquo; 

  .large-4.columns
    %h3 Integrations
    %p
      LiveOak speaks
      %a{:href=>'http://vertx.io'}Vert.x
      fluently. Your Vert.x application data is easily exposed via the Vert.x
      event bus through the LiveOak REST API, allowing all of your Vert.x
      modules to play along.
    %p
      %a.button{:href=>'/integrations'} View details &raquo; 

