---
layout: base
---
.row
  .large-4.columns.header-box
    %h1 LiveOak
    %h1.subheader Integrates
  .large-8.columns.right
    .panel
      %p
        LiveOak plays well with others.

    %h1 WildFly
 
    %p 
      WildFly is used as a container.

    %h2 Server structure

    %p
      Applications are deployed under 'apps' directory

    %h1 KeyCloak

    %p
      KeyCloak is providing authentication and authorization for all LiveOak resources.


    %h1 AeroGear Unified Push Server

    %p
      Developers can easily integrate with Apple and Google Cloud Messages for native push in mobile applications.


