---
layout: base
---
.row
  .large-4.columns.header-box
    %h1 LiveOak
    %h1.subheader The Team

  .large-8.columns.right
    .panel
      %p
        LiveOak is sponsored by Red Hat and brought to you by ChickenSuit

  .large-8.columns
    %ul.vcard
      %li.fn Ben Browning 
      %li.locality Carrollton, GA
      %li.twitter 
        %a{:href=>'http://twitter.com/bbrowning'} @bbrowning
    %ul.vcard
      %li.fn Bob McWhirter
      %li.locality Wytheville, VA
      %li.twitter 
        %a{:href=>'http://twitter.com/bobmcwhirter'} @bobmcwhirter
    %ul.vcard
      %li.fn Ken Finnigan
      %li.locality Pembroke, MA
      %li.twitter 
        %a{:href=>'http://twitter.com/kenfinnigan'} @kenfinnigan
    %ul.vcard
      %li.fn Lance Ball
      %li.locality Asheville, NC
      %li.twitter 
        %a{:href=>'http://twitter.com/lanceball'} @lanceball
    %ul.vcard
      %li.fn Marek Posolda
      %li.locality Brno, Czech Republic
      %li.twitter 
        %a{:href=>'http://twitter.com/MPosolda'} @MPosolda
    %ul.vcard
      %li.fn Marko Strukelj
      %li.locality The Great Unknown
      %li.twitter 
        %a{:href=>'http://twitter.com/mstruk2000'} @mstruk2000
    %ul.vcard
      %li.fn Matt Wringe
      %li.locality The Great Unknown
      %li.twitter 
        %a{:href=>'http://twitter.com/mattwringe'} @mattwringe
    %ul.vcard
      %li.fn Nick Scavelli
      %li.locality Cincinnati, OH
      %li.twitter 
        %a{:href=>'http://twitter.com/nickscavelli'} @nickscavelli
    %ul.vcard
      %li.fn Stian Thorgersen
      %li.locality The Great Unknown
      %li.twitter 
        %a{:href=>'http://twitter.com/stian_st'} @stian_st
    
