---
layout: base
---
.row
  .large-4.columns.header-box
    %h1 LiveOak
    %h1.subheader The Team

  .large-8.columns.right
    .panel
      %p
        LiveOak is sponsored by Red Hat.

  .large-8.columns
    %ul.vcard
      %li.fn Ben Browning 
      %li.locality Carrollton, GA
      %li.org Red Hat
      %li.twitter 
        %a{:href=>'http://twitter.com/bbrowning'} 
          @bbrowning
          %br
          %img{:src=>'https://pbs.twimg.com/profile_images/2979964178/c72395d6bc70d218b8c47f38fe566b91_bigger.jpeg'}
    %ul.vcard
      %li.fn Bob McWhirter
      %li.locality Wytheville, VA
      %li.org Red Hat
      %li.twitter 
        %a{:href=>'http://twitter.com/bobmcwhirter'} 
          @bobmcwhirter
          %br
          %img{:src=>'https://s.gravatar.com/avatar/3b6c8fb19641bde25b8553f398b286c1?s=73'}
    %ul.vcard
      %li.fn Boleslaw Dawidowicz
      %li.locality Poland
      %li.org Red Hat
      %li.twitter 
        %a{:href=>'http://twitter.com/bdawidowicz'} 
          @bdawidowicz
          %br
          %img{:src=>'https://pbs.twimg.com/profile_images/1445935248/avatar2_bigger.jpg'}
    %ul.vcard
      %li.fn Ken Finnigan
      %li.locality Pembroke, MA
      %li.org Red Hat
      %li.twitter 
        %a{:href=>'http://twitter.com/kenfinnigan'} 
          @kenfinnigan
          %br
          %img{:src=>'https://pbs.twimg.com/profile_images/1139556422/22149_312798951268_681446268_3911445_503922_n_bigger.jpg'}
    %ul.vcard
      %li.fn Lance Ball
      %li.locality Asheville, NC
      %li.org Red Hat
      %li.twitter 
        %a{:href=>'http://twitter.com/lanceball'} 
          @lanceball
          %br
          %img{:src=>'https://pbs.twimg.com/profile_images/378800000292442663/757db4ee131111d27ae8206ee10c78fa_bigger.png'}
    %ul.vcard
      %li.fn Marek Posolda
      %li.locality Brno, Czech Republic
      %li.org Red Hat
      %li.twitter 
        %a{:href=>'https://twitter.com/MarekPosolda'} 
          @MarekPosolda
          %br
          %img{:src=>'https://pbs.twimg.com/profile_images/378800000787902164/f1f4cc5be734d40ca2715a4e6f872bc6_bigger.jpeg'}
    %ul.vcard
      %li.fn Marko Strukelj
      %li.locality The Great Unknown
      %li.org Red Hat
      %li.twitter 
        %a{:href=>'http://twitter.com/mstruk2000'} 
          @mstruk2000
          %br
          %img{:src=>'https://abs.twimg.com/sticky/default_profile_images/default_profile_0_bigger.png'}
    %ul.vcard
      %li.fn Matt Wringe
      %li.locality The Great Unknown
      %li.org Red Hat
      %li.twitter 
        %a{:href=>'http://twitter.com/mattwringe'} 
          @mattwringe
          %br
          %img{:src=>'https://abs.twimg.com/sticky/default_profile_images/default_profile_5_bigger.png'}
    %ul.vcard
      %li.fn Nick Scavelli
      %li.locality Cincinnati, OH
      %li.org Red Hat
      %li.twitter 
        %a{:href=>'http://twitter.com/nickscavelli'} 
          @nickscavelli
          %br
          %img{:src=>'https://pbs.twimg.com/profile_images/1696800251/webcam2011_bigger.jpg'}
    %ul.vcard
      %li.fn Stian Thorgersen
      %li.locality The Great Unknown
      %li.org Red Hat
      %li.twitter 
        %a{:href=>'http://twitter.com/stian_st'} 
          @stian_st
          %br
          %img{:src=>'https://pbs.twimg.com/profile_images/378800000701552288/8bb4811d70f485a1f17cc924b4a37df2_bigger.jpeg'}
    %ul.vcard
      %li.fn Viliam Rockai
      %li.locality Brno, Czech Republic
      %li.org Red Hat
      %li.twitter
        %a{:href=>'https://twitter.com/blurec'}
          @blurec
          %br
          %img{:src=>'https://pbs.twimg.com/profile_images/467284123577372672/TETlOUKr_bigger.jpeg'}
    %ul.vcard
      %li.fn Alexandre Mendonça
      %li.locality Lisbon, Portugal
      %li.org Red Hat
      %li.twitter
        %a{:href=>'https://twitter.com/brainslog'}
          @brainslog
          %br
          %img{:src=>'https://pbs.twimg.com/profile_images/2383393580/u2k3tcmgew2p9vtdx5zy_bigger.png'}

