---
layout: base
---
.row
  .large-4.columns.header-box
    %h1 LiveOak
    %h1.subheader The Team

  .large-8.columns.right
    .panel
      %p
        LiveOak is sponsored by Red Hat and brought to you buy ChickenSuit

  .large-8.columns
    %ul.vcard
      %li.fn Ben Browning 
      %li.locality Carrollton, GA
      %li.email 
        %a{:href=>'mailto:bbrownin@redhat.com'} bbrownin@redhat.com
    %ul.vcard
      %li.fn Bob McWhirter
      %li.locality Wytheville, VA
      %li.email 
        %a{:href=>'mailto:bob@mcwhirter.org'} bob@mcwhirter.org
    %ul.vcard
      %li.fn Ken Finnigan
      %li.locality Pembroke, MA
      %li.email 
        %a{:href=>'mailto:ken@kenfinnigan.me'} ken@kenfinnigan.me
    %ul.vcard
      %li.fn Lance Ball
      %li.locality Asheville, NC
      %li.email 
        %a{:href=>'mailto:lball@redhat.com'} lball@redhat.com
    %ul.vcard
      %li.fn Marek Posolda
      %li.locality The Great Unknown
      %li.email 
        %a{:href=>'mailto:mposolda@gmail.com'} mposolda@gmail.com
    %ul.vcard
      %li.fn Marko Strukelj
      %li.locality The Great Unknown
      %li.email 
        %a{:href=>'mailto:marko.strukelj@gmail.com'} marko.strukelj@gmail.com
    %ul.vcard
      %li.fn Matt Wringe
      %li.locality The Great Unknown
      %li.email 
        %a{:href=>'mailto:mwringe@redhat.com'} mwringe@redhat.com
    %ul.vcard
      %li.fn Nick Scavelli
      %li.locality Cincinnati, OH
      %li.email 
        %a{:href=>'mailto:nick.scavelli@gmail.com'} nick.scavelli@gmail.com
    %ul.vcard
      %li.fn Stian Thorgersen
      %li.locality The Great Unknown
      %li.email 
        %a{:href=>'mailto:stianst@gmail.com'} stianst@gmail.com
    
