%ul.nav
  %li
    %a{:href => "#{site.base_url}/docs"} Back to Documentation Home
  %li.active
    %a{:href => "#installing-java"} Installing Java 8
    %ul.nav
      %li.active
        %a{:href => "#fedora-20"} Fedora 20
      %li
        %a{:href => "#ubuntu"} Ubuntu
      %li
        %a{:href => "#mac-os-x"} Mac OS X
      %li
        %a{:href => "#windows"} Windows
