%ul.nav
  %li
    %a{:href => "#{site.base_url}/docs"} Back to Documentation Home
  %li.active
    %a{:href => "#postgresql-resource"} PostgreSQL Resource
    %ul.nav
      %li.active
        %a{:href => "#features"} Features
      %li
        %a{:href => "#configuration"} Configuration
      %li
        %a{:href => "#rest-api"} REST API
      %li
        %a{:href => "#listing-tables"} Listing tables (collections)
      %li
        %a{:href => "#creating-a-table"} Creating a table
      %li
        %a{:href => "#retrieving-a-table-schema"} Retrieving a table schema
      %li
        %a{:href => "#dropping-a-table"} Dropping a Table
      %li
        %a{:href => "#create-records"} Creating records
      %li
        %a{:href => "#update-records"} Updating records
      %li
        %a{:href => "#delete-records"} Deleting records
      %li
        %a{:href => "#retrieving-data"} Retrieving data
      %li
        %a{:href => "#bulk-operations"} Bulk operations
      %li
        %a{:href => "#miscellaneous"} Miscellaneous
