%ul.nav
  %li.active
    %a{:href => "#getting-started"} Getting Started
    %ul.nav
      %li.active
        %a{:href => "gs-overview"} Overview
      %li
        %a{:href => "#installing-local"} Installing and Running LiveOak
      %li
        %a{:href => "#installing-openshift"} Installing on OpenShift
      %li
        %a{:href => "#installing-docker"} Installing via Docker
  %li
    %a{:href => "#dashboard"} Dashboard
    %ul.nav
      %li
        %a{:href => "#create-app"} Creating a new App
      %li
        %a{:href => "#security"} Security
      %li
        %a{:href => "#storage"} Data Storage
      %li
        %a{:href => "#"} Push Messaging
      %li
        %a{:href => "#clients"} Clients
      %li
        %a{:href => "#"} Business Logic
  %li
    %a{:href => "#developing"} Developing Apps
    %ul.nav
      %li
        %a{:href => "#"} Connect and authenticate
      %li
        %a{:href => "#"} Subscriptions
      %li
        %a{:href => "#"} Business Logic
  %li
    %a{:href => "#customising"} Customising the Server
    %ul.nav
      %li
        %a{:href => "#"} Developing a Resource
      %li
        %a{:href => "#"} SPI
      %li
        %a{:href => "#"} Extensions
  %li
    %a{:href => "#advanced"} Advanced Topics
    %ul.nav
      %li
        %a{:href => "#"} Architecture
-#
  %li
    %a{:href => "#client"} Client Libraries
    %ul.nav
      %li
        %a{:href => "#sdk-ios"} iOS
      %li
        %a{:href => "#sdk-android"} Android
