%ul.nav
  %li.active
    %a{:href => "#getting-started"} Getting Started
    %ul.nav
      %li.active
        %a{:href => "#gs-overview"} Overview
      %li
        %a{:href => "#installing-local"} Installing and Running local
      %li
        %a{:href => "#installing-openshift"} Installing on OpenShift
      %li
        %a{:href => "#installing-docker"} Installing via Docker
      %li
        %a{:href => "#gs-screencasts"} Screencasts
  %li
    %a{:href => "#examples"} Examples
    %ul.nav
      %li
        %a{:href => "#ex-chat-html"} Chat (HTML)
      %li
        %a{:href => "#ex-chat-android"} Chat (Android)
      %li
        %a{:href => "#ex-chat-ios"} Chat (iOS)
      %li
        %a{:href => "#ex-secured-chat"} Secured Chat
      %li
        %a{:href => "#ex-business-logic"} Business Logic
      %li
        %a{:href => "#ex-todo"} ToDo
      %li
        %a{:href => "#ex-gallery"} Gallery
      %li
        %a{:href => "#ex-auth"} Basic Authentication
  %li
    %a{:href => "#dashboard"} Dashboard
    %ul.nav
      %li
        %a{:href => "#dash-push"} Push Notifications
  %li
    %a{:href => "#developing-apps"} Developing Apps
    %ul.nav
      %li
        %a{:href => "#subscriptions"} Subscriptions
  %li
    %a{:href => "#customising-the-server"} Customising the Server
    %ul.nav
      %li
        %a{:href => "#spi"} SPI
      %li
        %a{:href => "#extensions"} Extensions
  %li
    %a{:href => "#advanced-topics"} Advanced Topics
    %ul.nav
      %li
        %a{:href =>"#configuring-the-server"} Configuring the Server
      %li
        %a{:href =>"#external-keycloak"} External Keycloak
      %li
        %a{:href => "#available-services"} Available Services
-# TODO Add 'Business Logic' sections to 'Dashboard' and 'Developing Apps' (Split out content from server side scripting page)
-# TODO Complete all 'Dashboard' sections
  %li
    %a{:href => "#dashboard"} Dashboard
    %ul.nav
      %li
        %a{:href => "#create-app"} Creating a new Application
      %li
        %a{:href => "#install-examples"} Install Examples
      %li
        %a{:href => "#security"} Security
      %li
        %a{:href => "#storage"} Data Storage
      %li
        %a{:href => "#dash-push"} Push Notifications
      %li
        %a{:href => "#clients"} Clients
-# TODO Complete all 'Developing Apps' sections
  %li
    %a{:href => "#developing-apps"} Developing Apps
    %ul.nav
      %li
        %a{:href => "#"} Connect and authenticate
      %li
        %a{:href => "#subscriptions"} Subscriptions
-# TODO Complete all 'Customising the Server' sections
  %li
    %a{:href => "#customising-the-server"} Customising the Server
    %ul.nav
      %li
        %a{:href => "#"} Developing a Service
      %li
        %a{:href => "#spi"} SPI
      %li
        %a{:href => "#extensions"} Extensions
-# TODO Complete all 'Advanced Topics' sections
  %li
    %a{:href => "#advanced-topics"} Advanced Topics
    %ul.nav
      %li
        %a{:href => "#"} Architecture
      %li
        %a{:href =>"#configuring-the-server"} Configuring the Server
      %li
        %a{:href =>"#external-keycloak"} External Keycloak
      %li
        %a{:href => "#available-services"} Available Services
-# TODO Complete all 'Client Libraries' sections
  %li
    %a{:href => "#client"} Client Libraries
    %ul.nav
      %li
        %a{:href => "#sdk-ios"} iOS
      %li
        %a{:href => "#sdk-android"} Android
