%ul.nav
  %li
    %a.btn.btn-default{:href => "#{site.base_url}/docs"}
      %i.fa.fa-arrow-left
      Back to documentation
  %li.active
    %a{:href => "#server-side-scripting"} Server Side Scripting
    %ul.nav
      %li.active
        %a{:href => "#overview"} Overview
      %li
        %a{:href => "#resource-triggered-scripts"} Resource Triggered Scripts
  %li
    %a{:href => "#getting-started"} Getting Started
    %ul.nav
      %li
        %a{:href => "#scripting-examples"} Scripting Examples
      %li
        %a{:href => "#starting-from-scratch"} Starting From Scratch
  %li
    %a{:href => "#configuring"} Configuring Scripts
    %ul.nav
      %li
        %a{:href => "#resource-paths"} Resource Paths 
      %li
        %a{:href => "#the-script"} The Script
      %li
        %a{:href => "#javascript-api"} JavaScript API 
