%ul.nav
  %li.active
    %a{:href => "#getting-started"} Getting Started
    %ul.nav
      %li.active
        %a{:href => "#getting-getting"} Getting LiveOak
      %li
        %a{:href => "#installing-local"} Installing and Running LiveOak
      %li
        %a{:href => "#installing-openshift"} Installing on OpenShift
  %li
    %a{:href => "#dashboard"} Dashboard
  %li
    %a{:href => "#developing"} Developing Apps
  %li
    %a{:href => "#customising"} Customising the Server
  %li
    %a{:href => "#advanced"} Advanced Topics
  %li
    %a{:href => "#client"} Client Libraries
  %li
    %a{:href => "/docs/scripting"} Server Side Scripting
