%ul.nav
  %li
    %a.btn.btn-default{:href => "#{site.base_url}/docs"}
      %i.fa.fa-arrow-left
      Back to documentation
  %li.active
    %a{:href => "#server-side-scripting"} Server Side Scripting
    %ul.nav
      %li.active
        %a{:href => "#overview"} Overview
      %li
        %a{:href => "#resource-triggered-scripts"} Resource Triggered Scripts
      %li
        %a{:href => "#getting-started"} Getting Started
      %li
        %a{:href => "#configuring"} Configuring Scripts
