%ul.nav
  %li
    %a.btn.btn-default{:href => "#{site.base_url}/docs"} 
      %i.fa.fa-arrow-left
      Back to documentation
  %li.active
    %a{:href => "#push-resource"} Push Resource
    %ul.nav
      %li.active
        %a{:href => "#aliases"} Aliases
      %li
        %a{:href => "#subscriptions"} Subscriptions
