%section.redhat
  .container
    %p.text-center
      %a{:href => "http://www.redhat.com/"}
        %img{:alt => "redhatlogo-white", :src => "#{site.base_url}/imgs/redhatlogo-white.png", :width => "130"}
