---
layout: base
---
%section.main-banner
  .container
    %h1 CI Builds
    %p
      Keep up with the latest builds from our CI server.
%section.builds
  .container
    .row
      .col-md-8
        %table#builds.table.table-stripped.table-hover
          %thead
            %tr
              %th
                Build
              %th
                When
              %th
                Status
              %th
                Commit

%script{ :src=>"#{site.base_url}/javascripts/ci.js", :type=>'application/javascript'}
