// Foundation scss variables
$topbar-bg: #003300;
$primary-color: #004400;;

footer {
  font-size: smaller;
  color: #aaa;
}
.header-box {
  background: url("/images/tree.png") right top no-repeat
}

