// Foundation scss variables
$topbar-bg: #003300;
$primary-color: #004400;;

footer {
  font-size: smaller;
  color: #aaa;
}
.header-box {
  background: url("/images/tree.png") right top no-repeat
}

.blog-post-listings {
  margin-top: 2.5em;
}

.blog-post-listing {
  padding: 1ex 0;
  border-top: 1px dashed #ddd;
}

.blog-post .date, .blog-post-listing .date {
  font-size: smaller;
  color: #666;
}

