// Foundation scss variables
$topbar-bg-color: #63B474;
$topbar-link-bg-hover: #63B474 - 30;
$primary-color: #63B474;;

footer {
  font-size: smaller;
  color: #aaa;
}
.header-box {
  background: url("/images/tree.png") right top no-repeat;
  height: 178px;
}

.blog-post-listings {
  margin-top: 2.5em;
}

.blog-post-listing {
  padding: 1ex 0;
  border-top: 1px dashed #ddd;
}

.blog-post .date, .blog-post-listing .date {
  font-size: smaller;
  color: #666;
}
