// Global Foundation Settings
@import "settings";

// LiveOak specific site settings
@import "site_settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";


table#builds {
  tr {
    border-bottom: 1px solid #999999;
  }
  tr.SUCCESS td {
    background-color: #00DD00;
  }
  
  tr.FAILURE td {
    background-color: #DD0000;
  }
  
  tr.ABORTED td {
    background-color: #DDDDDD;
  }
}

.top-bar {
  margin-bottom: 3em;
}

ul.vcard {
  display: block;
  .twitter img {
    border: 1px solid #999;
  }
  li.org {
    font-weight: bold;
    font-size: 90%;
    float: right;
    clear: right;
  }
  li.locality {
    float: right;
    clear: right;
  }
}

div.title {
  font-weight: bold;
  font-size: 140%;
}

div.toc {
  font-weight: bold;
  ul {
    margin-left: 1em;
  }

  #toctitle {
    margin-bottom: 1ex;
  }

  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

.sect1 h2 {
  font-size: 140%;
}

.sect2 h3 {
  font-size: 120%;
  color: #666;
}

.sect3 h4 {
  font-size: 110%;
}
