---
layout: base
---

%script{ :src=>'/javascripts/vendor/jquery.js', :type=>'application/javascript'}
%script{ :src=>'ci.js', :type=>'application/javascript'}

%h1 Builds

%table#builds
  %tr
    %th
      Build
    %th
      When
    %th 
      Status
    %th 
      Commit

