!!!5
-# To understand why the html tag is setup this way,
-# see http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
%html
  %head
    = partial( page.head_partial.nil? ? 'head.html.haml' : page.head_partial )
  %body
    = partial("metrics.html.haml")
    .dropup
      #ajbossproject
        A JBoss Project
      #tab.tabnav-closed{:href=>"#"}
        Red Hat
      %script
        window.addEventListener('load', function() { renderTabzilla("LiveOak", "liveoak", true) }, false);

    = partial( page.nav_partial.nil? ? 'nav.html.haml' : page.nav_partial )

    ~ content

    = partial( page.footer_partial.nil? ? 'footer.html.haml' : page.footer_partial )

</html>
