---
layout: base
---

.row
  .large-9{:class=>'columns'}
    %h3
      = page.title
    %h6
      #{page.date}
    %h6
      #{page.author}
  
    ~ content
  .large-3{:class=>'columns'}
    %ul
      %li
        Previous Post
      %li
        Next Post
