---
layout: base
---
%section.main-banner
  .container
    %h1 Blog
%section.blog
  .container
    .row
      .panel.blog-post
        .title
          %h2= page.title
        .author
          = page.author
        .date
          = page.date.strftime("%F")
        .body
          %p= page.content
      .large-4.columns
        .row{:style=>'text-align:center'}
          %hr
          - if (page.previous_post)
            %a{:href=>page.previous_post.url}
              &lsaquo; Earlier
          - else
            &lsaquo; Earlier
          |
          - if (page.next_post)
            %a{:href=>page.next_post.url}
              Later &rsaquo;
          - else
            Later &rsaquo;
