---
layout: base
---
.row
  .large-4.columns.header-box
    %h1 LiveOak
    %h1.subheader Documentation
  .large-8.columns.right
    .panel
      %p
        We are actively working on improving documentation. Still, due to early stage and very active nature of the project some parts
        may be missing or not be entirely accurate.

      %h3 Screencasts
      %p
        %ul
          %li
            %a{:href=>'https://vimeo.com/96213933'} Rapid application development with LiveOak [Part 1].
            HTML Chat client [9:42]
          %li
            %a{:href=>'https://vimeo.com/96691967'} Rapid application development with LiveOak [Part 2].
            Security [5:27]
          %li
            %a{:href=>'https://vimeo.com/96631372'} LiveOak on OpenShift Part I.
            Cartridge deployment [3:08]
          %li
            %a{:href=>'https://vimeo.com/96638444'} LiveOak on OpenShift Part II.
            Deploying quickstarts (examples) [5:56]
          %li
            %a{:href=>'http://vimeo.com/95383726'} Introduction to LiveOak - quick overview.
            Slides only [12:40]
          %li
            %a{:href=>'https://vimeo.com/jbossdeveloper/review/105402526/9797d7a3b8'} Installing LiveOak examples.
            Within the Admin Console [3.16]
          %li
            %i Upcoming... Push Notifications with Android app, LiveOak and AeroGear UPS.


      %h3 Guides
      %p
        %ul
          %li
            %a{:href=>'/docs/guides/getting_started'} Getting Started
          %li
            %a{:href=>'/docs/guides/guide_examples'} Deploying examples
          %li
            %a{:href=>'/docs/guides/tutorial_chat'} Tutorial: Chat application
          %li
            %a{:href=>'/docs/guides/tutorial_gallery'} Tutorial: Gallery application
          %li
            %a{:href=>'/docs/guides/tutorial_todomvc'} Tutorial: TodoMVC application
          %li
            %a{:href=>'/docs/guides/tutorial_openshift'} Tutorial: Deploying LiveOak to OpenShift
          %li
            %a{:href=>'/docs/guides/tutorial_keycloak_separate'} Tutorial: Using separate Keycloak instance

      %h3 Reference Documentation
      %p
        %ul
          %li
            %a{:href=>'/docs/reference/overview'} Overview
          %li
            %i TODO:
            %a{:href=>'/docs/reference/resources'} Resources
          %li
            %i TODO:
            %a{:href=>'/docs/reference/installation'} Installation and configuration
          %li
            %i TODO:
            %a{:href=>'/docs/reference/applications'} Applications
          %li
            %a{:href=>'/docs/reference/subscriptions'} Working with subscriptions
          %li
            %i TODO:
            %a{:href=>'/docs/reference/security'} Security
          %li
            %a{:href=>'/docs/reference/scripting'} Server Side Scripting
          %li
            %a{:href=>'/docs/reference/postgresql'} PostgreSQL Resource
          %li
            %a{:href=>'/docs/reference/push'} Push Notifications
          %li
            %a{:href=>'/docs/reference/extensions'} Extensions
