---
layout: base
---
.row
  .large-4.columns.header-box
    %h1 LiveOak
    %h1.subheader Documentation
  .large-8.columns.right
    .panel
      %p
        We are actively working on improving documentation. Still because early and very active nature of the project some parts
        may be missing or not be fully accurate.

      %h3 Screencasts
      %p
        %ul
          %li
            %a{:href=>'http://vimeo.com/95383726'} Introduction to LiveOak
          %li
            %a{:href=>'https://vimeo.com/96213933'} Rapid application development with LiveOak: HTML Chat client
          %li
            %i TODO:
            Deploying LiveOak to OpenShift
          %li
            %i TODO:
            Push Notifications with Android app, LiveOak and AeroGear UPS.

      %h3 Guides
      %p
        %ul
          %li
            %a{:href=>'/docs/guides/getting_started'} Getting Started
          %li
            %a{:href=>'/docs/guides/guide_examples'} Deploying example applications available on github
          %li
            %a{:href=>'/docs/guides/tutorial_chat'} Tutorial: Developing HTML chat application
          %li
            %a{:href=>'/docs/guides/tutorial_gallery'} Tutorial: Developing HTML gallery application
          %li
            %i TODO:
            %a{:href=>'/docs/guides/tutorial_openshift'} Tutorial: Deploying LiveOak to OpenShift

      %h3 Reference Documentation
      %p
        %ul
          %li
            %a{:href=>'/docs/reference/overview'} Overview
          %li
            %i TODO:
            %a{:href=>'/docs/reference/resources'} Resources
          %li
            %i TODO:
            %a{:href=>'/docs/reference/installation'} Installation and configuration
          %li
            %i TODO:
            %a{:href=>'/docs/reference/applications'} Applications
          %li
            %a{:href=>'/docs/reference/subscriptions'} Working with subscriptions
          %li
            %i TODO:
            %a{:href=>'/docs/reference/security'} Security
          %li
            %a{:href=>'/docs/reference/push'} Push Notifications
          %li
            %a{:href=>'/docs/reference/extensions'} Extensions



